<!-- ---
import type { GetStaticPaths } from "astro";
import Layout from "../../layout/Layout.astro";
const {id} = Astro.params
const res = await fetch(`https://norian.studio/wp-json/wp/v2/dinos?categories=${id}`)
const category = await res.json()
export const getStaticPaths = (async() => {
  const res = await fetch(`https://norian.studio/dinosaurs/wp-json/wp/v2/categories`)
  const categories = await res.json()
  return categories.map((category) => {
    return {
      params: { id: category.id },
    };
  });
}) satisfies GetStaticPaths;
console.log(category)
---
<Layout>
  {category.map((c)=>(
    <div><a href={`/posts/${c.slug}`}>{c.title.rendered}</a></div>
  ))}
</Layout> -->