---
 const data = await fetch("http://localhost:4321/api/posts.json")
 const posts = await data.json()
 import { fade } from "astro:transitions"
import Head from "../components/Head.astro"
import Navigation from "../components/Navigation.astro"
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)
---

<html lang="en">
	<Head></Head>
	<body>
		<Navigation></Navigation>
			<div  class="container mx-auto flex flex-row" style="max-width: 1200px">
				<div  class="container flex justify-center " style="max-width: 1200px;">
					<div transition:name="title" class="pb-10 rounded-lg container p-10 text-4xl text-black text-left" style="width: fit-content; ">
						Välkommen
					</div>
			    </div>
			</div>
		<div transition:name="test"  transition:animate="fade" class="flex flex-col  py-10">
			<div  class="container mx-auto flex flex-wrap justify-center pt-20" style="max-width: 1200px">
				<img style="width: 700px" src="/images/undraw_programming_re_kg9v.svg" alt="design"/>
			</div>
		</div>
		</div>
	</body>
</html>
