---
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
---
<html lang="en">
<Head></Head>
<body>
<Navigation></Navigation>
<div id="target"></div>
<div hx-trigger="load delay:0.3s" hx-get="/api/posts.json" hx-swap="outerHTML;"></div>
</body>
</html>