---
 const data = await fetch("http://localhost:4321/api/posts.json")
 const posts = await data.json()
const today = new Date()
import { fade } from "astro:transitions";
---
<div class="container mx-auto flex flex-wrap [&>*:first-child]:basis-full" style="max-width: 1200px" >
	{
        posts[0].data.map((post, i)=>(
            <div class="flex flex-col basis-6/12 p-4" style="position: relative; width: fit-content rounded-2xl">
                <article transition:name={`card-${i + 1}`} class="rounded-2xl shadow-md hover:shadow-lg ">
                    <a class="group" href={`/posts/${i + 1}`} >
                        <img  transition:name={`image-${i + 1}`} class="rounded-t-2xl" style="width: 100%; max-height: 400px;" src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZ3JhbW1lcnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"/>
                        <div transition:name={`title-${i + 1}`} style="width: 100%;" class="group-hover:text-red-800 text-lg p-4 pb-6 text-black bg-neutral-100">{post.title.rendered}</div>
                        <div transition:name={`content-${i + 1}`} class="px-4 my-4 wrap excerpt line-clamp-3" set:html={post.excerpt.rendered} ></div>
                        <div transition:name={`footer-${i + 1}`} class="p-4 footer text-black flex flex-row justify-between gap bg-neutral-100 ">
                            <div class="flex flex-row gap-2">
                                <i class="gg-comment "></i>
                                <span>1</span>
                            </div>
                            <div class="flex flex-row gap-2 items-center">
                                <i class="gg-calendar-dates"></i>
                                <span>{ Math.round((today - new Date(post.date)) /(1000 * 60 * 60 * 24))} days ago</span> 
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        ))
    }
</div>