---
const {id} = Astro.props
const commentsRes = await fetch(`https://dumpen.se/wp-json/wp/v2/comments?post=${id}`)
const comments = await commentsRes.json()
---

<div class="flex flex-row gap-2">
    <i class="gg-comment "></i>
    <span>{comments?.length}</span>
</div>