---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang="en">
    <Head></Head>
    <body>
        <Navigation></Navigation>
        <slot/>
        <Footer></Footer>
    </body>
</html>